.stories {
    position: relative;
    padding: 213px 0 196px;
}
.stories__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.stories__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: var(--color-orange);
    align-items: center;
    margin-right: 11px;
}
.stories__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    color: var(--color-black);
    margin-top: 13px;
}
.stories__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: var(--color-gray);
    margin: 13px 0 23px;
}
.stories__compilation a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: var(--color-orange);
}
.image {
    height: 242px;
    width: 242px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bg__1 {
    background: url(../images/stories-img1.png) center no-repeat;
}
.bg__2 {
    background: url(../images/stories-img2.png) center no-repeat;
}
.bg__3 {
    background: url(../images/stories-img3.png) center no-repeat;
}
.bg__4 {
    background: url(../images/stories-img4.png) center no-repeat;
}
.stories__detail-1 {
    position: absolute;
    top: 20%;
    left: 38%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 20000s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
.stories__detail-2 {
    position: absolute;
    left: 2%;
    bottom: 35%;
    animation-name: lil-thing;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.stories__detail-3 {
    position: absolute;
    bottom: 10%;
    right: 36%;
    animation-name: lil-thing;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

@media screen and (max-width: 576px) {
    .stories {
        padding: 100px 0;
    }
    .stories__header {
        text-align: center;
    }
    .stories__title {
        font-size: 28px;
        margin-left: 10px;
    }
    .stories__link {
        font-size: 15px;
    }
    .stories__compilation {
        text-align: center;
    }
    .image {
        width: 100%;
    }
    .stories__subtitle {
        font-size: 15px;
        line-height: 25px;
    }
    .stories__text {
        font-size: 14px;
        line-height: 23px;
        margin: 13px 0;
    }
    .stories__compilation a {
        margin-bottom: 15px;
    }
    .stories__detail-1 {
        top: 10%;
        left: 17%;
    }
    .stories__detail-2 {
        right: 6%;
        bottom: 48%;
    }
    .stories__detail-3 {
        bottom: 4%;
        left: 18%;
    }
}